	/* HOME */

.content h1{
		font-size: 60px;
		margin-bottom: 60px;
}

.content h1::after{
	content: " A Developer";
	animation: textanim 10s linear infinite;
  }
  
  @keyframes textanim{
	30%{
	  content:" A Designer";
  }
  60%{
	  content:" A Programmer";
  }
} 

/*BACKGROUND IMAGE*/
image{
	z-index: -1;
	height: 100%;

}

textarea{
	text-align: center;
	color: black;
	background: none;
}

	/*ABOUT*/

body{
	background-color:#abd4fc;
}
p{
	padding-right: 30px;
	padding-left: 30px;
}

/*IMAGE*/
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 57%;
	position:relative;
	top: 70px;
	border-radius: 5px;
	height:400px;
	z-index : 5;
}

	/*FOOTER*/
hr{
	height: 3px;
	background-color: black;
}

.heart{
	color: red;
}

.other_links{
	padding-left: 20px;
}

.top_button{
	position: fixed;
	/*left: 10px;*/
	right: 10px;
	bottom: 8px;
	height: 42px;
	width: 42px;
	border: 2px solid black;
	padding: 5px;
	color: black;
	text-decoration: none;
	background-color: #00B0FF;
	z-index: 1;
	border-radius:50% ;
    color: #fff;
}	

/*HEADER*/
#navbar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#navbar div ul li a:hover{
    font-size: larger;
    color: lightblue;
    font-weight: 550;
    
}

